#sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    left: 0;
    height:100%;
    position: fixed;
    background-color: #121e37;
    color: #E5E5E5;
    width: 13rem;
    font-size: 1.15rem;
    padding-left: 1rem;
}

#title {
    color: #FCA311;
}

#menu, #others {
    display: flex;
    flex-direction: column;
}

#menu div, #others div {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

#menu div:hover, #others div:hover {
    padding-left: 0.25rem;
    background-color: #2c3750;
    cursor: pointer;
    border-left: 0.25rem solid #FCA311;
}

#menu img, #others img {
    width: 1.5rem;
    height: 100%;
}

#menu .menu-list, #others .others-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}