#sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* height:100%;
    position: absolute; */
    /* background-color: #121e37; */
    background-color: #1a2640;
    color: #E5E5E5;
    width: 13rem;
    font-size: 1.15rem;
    padding-left: 1rem;
    z-index: 1;
}

#title {
    color: #FCA311;
}

#menu, #others {
    display: flex;
    flex-direction: column;
}

#menu div, #others div {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

#menu div:hover, #others div:hover {
    padding-left: 0.25rem;
    background-color: #2c3750;
    cursor: pointer;
    border-left: 0.25rem solid #FCA311;
}

#menu img, #others img {
    width: 1.5rem;
    height: 100%;
}

#menu .menu-list, #others .others-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}